.UserWrapper {
    width: 60%;
}

.User {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #272b30;
    border-radius: 10px;
    padding: 15px;
}

.User:not(:last-child) {
    margin-bottom: 40px;
}

.LeftBox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 150px;
}

.UserAvatar {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-size: cover;
    background-position: top center;
}

.Follow, .UnFollow {
    outline: none;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #e9e9e9;
    width: 100px;
    white-space: normal;
    text-align: center;
    transition: background-color .25s ease-in;
}

.UnFollow {
    background-color: #f31c67;
}

.Follow {
    background-color: #1c92f3;
}

.RightBox {
    position: relative;
    width: 100%;
}

.RightBox h2 {
    margin-top: 0;
}

.Location {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #818181;
}

.Location span {
    margin-left: 8px;
}